.tabbar-bottom{

}
.icon-bottom{
  width: 22px;
  height: 22px;
  color: red;
}

.icon-bottom--home{
  background: url("https://zos.alipayobjects.com/rmsportal/sifuoDUQdAFKAVcFGROC.svg") center center / 21px 21px no-repeat;
}

.icon-bottom--home-select{
  background: url("https://zos.alipayobjects.com/rmsportal/iSrlOTqrKddqbOmlvUfq.svg") center center /  21px 21px no-repeat;
}

.icon-bottom--modules{
  background: url("https://gw.alipayobjects.com/zos/rmsportal/BTSsmHkPsQSPTktcXyTV.svg") center center /  21px 21px no-repeat;
}

.icon-bottom--modules-select{
  background: url("https://gw.alipayobjects.com/zos/rmsportal/ekLecvKBnRazVLXbWOnE.svg") center center /  21px 21px no-repeat;
}

.icon-bottom--setting{
  background: url("https://zos.alipayobjects.com/rmsportal/psUFoAMjkCcjqtUCNPxB.svg") center center /  21px 21px no-repeat;

}

.icon-bottom--setting-select{
  background: url("https://zos.alipayobjects.com/rmsportal/IIRLrXXrFAhXVdhMWgUI.svg") center center /  21px 21px no-repeat;
}

.icon-bottom--my{
  background: url("https://zos.alipayobjects.com/rmsportal/asJMfBrNqpMMlVpeInPQ.svg") center center /  21px 21px no-repeat;
}

.icon-bottom--my-select{
  background:  url("https://zos.alipayobjects.com/rmsportal/gjpzzcrPMkhfEqgbYvmN.svg") center center /  21px 21px no-repeat;
}