.tabbar-bottom{

}
.icon-bottom{
  width: 22px;
  height: 22px;
  color: red;
}

.icon-bottom--home{
  background: url("../../../assets/images/home.svg") center center / 21px 21px no-repeat;
}

.icon-bottom--home-select{
  background: url("../../../assets/images/home-select.svg") center center /  21px 21px no-repeat;
}

.icon-bottom--modules{
  background: url("../../../assets/images/modules.svg") center center /  21px 21px no-repeat;
}

.icon-bottom--modules-select{
  background: url("../../../assets/images/modules-select.svg") center center /  21px 21px no-repeat;
}

.icon-bottom--setting{
  background: url("../../../assets/images/setting.svg") center center /  21px 21px no-repeat;

}

.icon-bottom--setting-select{
  background: url("../../../assets/images/setting-select.svg") center center /  21px 21px no-repeat;
}

.icon-bottom--my{
  background: url("../../../assets/images/my.svg") center center /  21px 21px no-repeat;
}

.icon-bottom--my-select{
  background:  url("../../../assets/images/my-select.svg") center center /  21px 21px no-repeat;
}